
/* ----------  Start  ---------- */
.ais {
  align-items: start;
}

.acs {
  align-content: start;
}

.ass {
  align-self: start;
}

.jcs {
  justify-content: start;
}

.jis {
  justify-items: start;
}

.jss {
  justify-self: start;
}

/* ----------  Center  ---------- */

.aic {
  align-items: center;
}

.acc {
  align-content: center;
}

.asc {
  align-self: center;
}

.jcc {
  justify-content: center;
}

.jic {
  justify-items: center;
}

.jsc {
  justify-self: center;
}

/* ----------  End  ---------- */

.aie {
  align-items: end;
}

.ace {
  align-content: end;
}

.ase {
  align-self: end;
}

.jce {
  justify-content: end;
}

.jie {
  justify-items: end;
}

.jse {
  justify-self: end;
}


/* ----------  Justify  ---------- */

.jcsa {
  justify-content: space-around;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

/* ----------  Text Align  ---------- */

.tal {
  text-align: left;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}


/* ----------  Margin Tricks  ---------- */

.centered-margin {
  margin: 0 auto;
}
