.d-flex {
  display: flex;
}

.d-inline {
  display: inline;
}

.d-inflex {
  display: inline-flex;
}

.d-inblock {
  display: inline-block;
}

.flex-col {
  flex-direction: column;
}

.flex-col-rev {
  flex-direction: column-reverse;
}

.flex-row {
  flex-direction: row;
}

.flex-row-rev {
  flex-direction: row-reverse;
}
